<main class="p-5">


	<div class="card p-5">
		<p id="test">
			Hello world!Hello world!
		</p>
		<span class="test">
			test test
		</span>
	</div>

	<pre>
		sdfs
    </pre>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<div style="padding: 50px 0 50px 100px; background: gray; height: 200px;">
		<span>Inline</span>
		<span>Inline</span>
		<span>Inline</span>

		<span class="block"> inline-blockinline-blockinline-blockinline-blockinline-blockinline-blockinline-block</span>
	</div>
	<div>Block</div>
</main>