:root {
  --space-xs: 8px;
  --space-s: 10px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-purple: #885ffb;
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #9ca3af;

  --border-radius-s: 4px;
  --border-radius-m: 10px;

  --weight-title: 700;
  --weight-text: 400;

  --page-width: 1150px;
}

/* ========================== */
.page {
  background: #111827;
  padding: var(--space-s);
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 60px;
  flex-shrink: 0;
}

/* ========================== */

.header_top {
  display: flex;
  padding: var(--space-m);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--page-width);
  border-bottom: 1px solid #253041;
}

.logo_link {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: var(--space-s);
  padding: var(--space-xs) var(--space-m);

  border-radius: var(--border-radius-m);
  background: var(--color-purple);

  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-title);
  text-decoration: none;
}

.nav {
  display: flex;
  gap: var(--space-xm);
  align-items: flex-start;
  padding-bottom: 0px;
  padding-top: var(--space-xm);
}
.nav_inline {
  gap: var(--space-l);
}

.nav_link {
  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  text-decoration: none;
  transition: opacity 0.6s;
}

.nav_link:hover {
  text-decoration: underline;
  opacity: 0.6;
}

.header_bottom {
  display: flex;
  padding-top: var(--space-m);
  justify-content: space-between;
  align-items: center;
}

.ad {
  display: flex;
  align-items: center;
  gap: 6px;
}

.ad_picture {
  display: flex;
  align-items: flex-start;
  padding: 2px 6px;

  gap: var(--space-s);
  background: rgba(136, 95, 251, 0.2);
  border-radius: var(--border-radius-s);
  width: 30px;

  color: var(--color-purple);
  font-size: var(--size-s);
  font-weight: var(--weight-title);
}

.ad_link {
  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  text-decoration: none;
  transition: opacity 0.6s;
}

.ad_link:hover {
  text-decoration: underline;
  opacity: 0.6;
}

.userOnline {
  width: 100px;
  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #253041;
  gap: var(--space-xm);
}

.footer_copyright {
  color: var(--color-text);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  padding-top: var(--space-xm);
}

.hero {
  display: flex;
  height: 300px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-radius: var(--space-l);
  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );
  box-shadow: 0pxvar (--border-radius-s) 15px 0px
    rgba(0, 0, 0, 0.1);
}

.hero_title {
  color: var(--color-white);
  font-size: 36px;
  font-weight: var(--weight-title);
  text-align: center;
}

.hero_description {
  color: var(--color-text);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  line-height: 150%;
  max-width: 600px;
  text-align: center;
}

.hero_button {
  background: var(--color-purple);
  border-radius: var(--border-radius-m);

  width: 150px;
  padding: var(--space-m) 19px;
  justify-content: center;
  gap: var(--space-m);
  align-items: center;

  color: var(--color-white);
  text-align: center;
  font-size: var(--size-s);
  font-weight: var(--weight-title);
  text-decoration: none;
  transition: opacity 0.6s;
}

.hero_button:hover {
  opacity: 0.6;
}

.hero_button:active {
  opacity: 0.3;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-xm);

  padding: 32px;

  border-radius: var(--space-l);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
}

.about_heading {
  color: white;
  font-size: var(--size-s);
  font-weight: var(--weight-title);
}

.about_info {
  color: var(--color-text);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.articles_title {
  color: var(--color-white);
  font-size: 32px;
  font-weight: var(--weight-title);
}

.articles_card_block {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.articles_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xm);

  transition: 0.1s;
}

.articles_card:hover {
  outline: 3px solid black;
  border-radius: var(--space-l);
  outline-offset: var(--space-xm);
  box-shadow: red;
  cursor: pointer;
}

.articles_card_image {
  height: 200px;
  width: 360px;
  justify-content: center;
  align-items: center;

  border-radius: var(--space-l);
}

.articles_card_image_new {
  padding: 2px 6px;
  border-radius: var(--border-radius-s);
  background: rgba(251, 95, 95, 0.5);

  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-title);
  display: block;

  position: relative;
  left: 302px;
  bottom: 50px;
}

.articles_card_name {
  color: var(--color-white);
  font-size: 18px;
  font-weight: var(--weight-title);
}

.articles_card_description {
  color: var(--color-text);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  line-height: 150%;
}

.articles_card_button {
  display: flex;
  padding: var(--space-xs) var(--space-xm);

  border-radius: var(--border-radius-m);
  background: var(--color-purple);

  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-title);

  transition: opacity 0.6s;
}

.articles_card_button:hover {
  opacity: 0.6;
}

.articles_card_button:active {
  opacity: 0.3;
}
